.center-box{
    width: 1000px;
    height: 200px;
    background-color: dodgerblue;
    display: flex;
    flex-direction:center;
    justify-content: center;
    align-items: center;
}
.center-item{
    width: 100px;
    height: 100px;
    background-color: tan;
    display: flex;
    justify-items: center;
    flex-direction: center;
    align-items: center;
}
