body{
background-color: black;
}
div{
    background-color: dodgerblue;
    display: flex;
    color: white;
    align-items: left;
    justify-content: left;
    flex-direction: row;
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
}

image{
    justify-self: left;
}
a{
    color: white;
    text-decoration: none;
}
